$paddings: 10px;

body {
    background-color: white;
    font: normal 14px courier,sans-serif; }
  
  .container {
    padding: 25px;
    position: fixed; }
  
  .form-login {
    background-color: aquamarine;
    padding-top: $paddings;
    padding-bottom: $paddings * 2;
    padding-left: $paddings * 2;
    padding-right: $paddings * 2;
    border-radius: $paddings;
    border-color: black;
    border-width: 1px; }
  
  h4 {
    border: 0 solid white;
    border-bottom-width: 1px;
    padding-bottom: $paddings;
    text-align: center; }
  
  .form-control {
    border-radius: $paddings * 2;
    border-color: gray;
    border-width: 1px; }
  
  .wrapper {
    text-align: center; }
  